[submodule "LEGO_API"]
	path = LEGO_API
	url = https://github.com/D1sney/LEGO_API.git
	branch = main
[submodule "LEGO_frontend"]
	path = LEGO_frontend
	url = https://github.com/D1sney/LEGO_frontend.git
	branch = main